.blind{
    position: absolute;
    width: 1px;height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.wrap{
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.wrap::after{content: '';clear: both;display: block;}
.btn-nav{
    position: absolute;
    bottom: -40px;
    left: 60%;
    text-align: center;
    z-index: 100;
}
.btn-nav .btn-bullet{
    display: inline-block;
    width: 1em;
    height: 6px;
    background: #d8cbbc;
    top: 3px;
    margin: 0 3px 3px 3px;
}
.btn-nav .btn-bullet.active{
    background: #2b201a;
}
.row-line{
    width: 2px;
    height: 250px;
    margin-bottom: 50px;
    background-image: linear-gradient(100deg,#2b201a,#d8cbbc 71%);
}