@font-face {
    font-family: 'sangblue';
    src: url(../fonts/SangBleuEmpire-Medium-WebS.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'sfkr';
    src: url(../fonts/SFProKRDisplay_light.woff2) format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'sfkr';
    src: url(../fonts/SFProKRDisplay_regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'sfkr';
    src: url(../fonts/SFProKRDisplay_medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'sfkr';
    src: url(../fonts/SFProKRDisplay_semibold.woff2) format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'sfkr';
    src: url(../fonts/SFProKRDisplay_bold.woff2) format('woff2');
    font-weight: 700;
}