.pro_area{
    margin-top: 50px; 
    margin-bottom: 270px;
    .inner01{
        margin-top: -152px;
    .text_box{
            text-align: center;
            .desc{
                padding: 0 40px;
                color: #d2d2d7;
            }
            .sc_sub{
                font-size: 96px;
                background: radial-gradient(#eff1ff, #000);
                background-size: 100% 200%;
                background-position: 50% 100%;
                color: transparent;
                -webkit-background-clip: text;
            }
            .sc_desc{
                font-size: 32px;
                color: #d2d2d7;
            }
        }      
    }
    .m2_box{
        margin-top: 58px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .sc_desc{
            font-size: 40px;
        }
        img{
            width: 94px;
            height: 94px;
        }
    }
    .price_box{
        font-size: 28px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        .price{
            &::after{
                content: "|";
                margin: 0 30px;
            }
        }
        .link_event{
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.memory_area{
    text-align: center;
    .sc_sub{
        color: #fff;
    }
}
.group_row01{
    .sc_sub{
        margin: 28px 0;
    }
    .sc_desc{
        margin: 38px 0;
        color: #fff;
    }
    .img_box{
        img{
            max-width: 434px;height: 434px;
            margin: 0 auto;
        }
    }
}
.chip_box{
    display: flex;
    justify-content: center;
    .text_box{
        margin: 0 24px;
        text-align: left;
        .title{
            font-size: 40px;
        }
        .desc{
            font-size: 14px;
            color: #fff;
        }
    }
}
.btn_box{
    margin: 70px auto 218px;
    background: linear-gradient(135deg, #bead47, #922b28, #8e089b);
    width: fit-content;
    border-radius: 980px;
    .btn_more{
        border-radius: 50px;
        line-height: 48px;
        background-clip: padding-box;
        background-color: #000;
        color: #fff;
        border: 2px solid transparent;
        box-sizing: content-box;
        outline: none;
        padding: 0 16px;
        transition: background-color 350ms ease-in-out,color 350ms ease-in-out, border-color 350ms ease-in-out;
        &:hover{
            background-clip: border-box;
            background-color: #fff;
            border-color: #fff;
            color: #000;
        }
        &::after{
            content: "";
            padding-left: 5px;
        }
    }
}
// sc_visual끝
.comparison{
    .cont_box{
        justify-content: space-between;
        align-items: flex-start;
    }
    .btn_graph{
        display: inline-block;
        &.active{
            color: #fff;
        }
    }
    .col_left{
        width: 25%;
    }
    .col_right{
        margin-left: 10%;
        width: 65%;
        padding-right: 60px;
        box-sizing: border-box;
        
    }
}
.graph_area{
    & + .graph_area{
        margin-top: 96px;
        border-top: solid 2px #2C2C2D;
        padding: 91px 0;
    }
    .desc{
        font-size: 32px;
        &+.desc{
            color: #86868b;
        }
    }
}
.graph_box{
    display: none;
    &.active{
        display: block;
        box-sizing: border-box;
        .desc{
            font-size: 28px;
        }
        .graph{
            display: flex;
            margin-top: 66px;
            .bar_m2{
                width: 100%;
                height: 10px;
                background: linear-gradient(to right, #ffc600, #e8482e, #9c209d);
                border-radius: 5px;
                margin-bottom: 15px;
            }
            .bar_m1{
                width: 70%;
                height: 10px;
                background: #d2d2d7;
                border-radius: 5px;
                margin-bottom: 15px;
                margin-top: 39px;
            }
            .graph_left{
                width: 72%;
            }
            .graph_right{
                width: 28%;
                font-size: 56px;
                font-weight: 600;
                color: #CC18C6;
                padding-left: 20px;
                box-sizing: border-box;
                line-height: 0.5;
            }
            span.desc{
                font-size: 17px;
                color: #d2d2d7;
            }
        }
    }
}
// comparison끝
.flex_70{
    background-color: #151516;
    border-radius: 30px;
    width: calc(67% - 12px);
    padding: 40px 0 0 40px;
    box-sizing: border-box;
    overflow: hidden;
}
.flex_30{
    background: url('../images/bg01.jpg');
    border-radius: 30px;
    width: calc(33% - 12px);
    padding: 40px;
    box-sizing: border-box;
    img{
        max-width: 52px;
        height: 52px;
        margin-bottom: 20px;
    }
}
.capacity{
    .flex_70{
        position: relative;
        min-height: 700px;
        .title{
            position: absolute;
            z-index: 10;
        }
        .cooling{
            position: absolute;
            top: 0;
            left: 0;
            max-width: 918px;
            height: 720px;
        }
        .cont_box{
            position: relative;
            .cont_txt{
                position: absolute; 
                top: 50%; left: 0%; transform: translateY(-50%);
                max-width: 420px;
                padding-right: 35px;
                box-sizing: border-box;
                z-index: 10;
            }
        }
    }
}
// capacity끝
.macOS{
    align-items: center;
    margin-top: 24px;
    background-color: #000;
    background-image: radial-gradient(at 100% 100%, rgba(111,88,116,0.7) 0px, transparent 50%),radial-gradient(at 90% 0%, #0a2961 0px, transparent 50%),radial-gradient(at 18% 16%, rgba(58,3,130,0.79) 0px, transparent 50%),radial-gradient(at 100% 40%, rgba(76,21,147,0.22) 0px, transparent 50%),radial-gradient(at 0% 100%, #74517b 0px, transparent 50%);
    .col_left{
        width: 58%;
        .img_box{
            margin: -80px 0 0 -40px;
            position: relative;
        }
        .caption{
            position: absolute;
            bottom: -20px;
            right: 35%;
        }
    }
    .col_right{
        width: 42%;
        margin-left: 0;
        padding: 0 50px;
        box-sizing: border-box;
        .sub{
            font-size: 56px;
        }
    }
}
// macOS끝
.battery{
    .flex_30{
        background: linear-gradient(to bottom, #203025 0%, #151516 100%);
        .sub{
            text-align: center;
            background: linear-gradient(to top, #4cd265 50%, #fff 50%);
            background-size: auto 200%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 5px;
            margin-bottom: -5px;
            position: relative;
            animation-fill-mode: forwards;
            // animation: -0.5s cubic-bezier(0.83, -0.07, 1, 1) forwards;
            &::before{
                content:"";
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                background-image: linear-gradient(to top, #4cd265 50%, transparent 50%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .flex_70{
        background: linear-gradient(165deg, #2c4735 0%, #1d243e 60%, #101124 90%);
        overflow: hidden;
        &::after{content: '';clear: both;display: block;}
        .cont_txt{
            width: 42%;
        }
        .img_box{
            width: 58%;
            position: relative;
            .caption{
                position: absolute;
                top: -5%;right: 5%;
            }
        }
    }
}
// battery끝
.flex_bottom{
    .secu{
        .img_box{
            width: 100px;
            height: 128px;
            background: url('../images/lock.png') 0 0 no-repeat;
            background-size: 800px 1152px;
        }
        .sub{
            width: 100%;
            text-align: center;
            font-size: 48px;
        }
        .char_wrap{
            display: flex;
            justify-content: center;
            .char{
                display: flex;
                align-items: center;
                line-height: 60px;
            }
            i{
                &.dot{
                    display: inline-block;
                    width: 10px;height: 10px;
                    background: #d2d2d7;
                    border-radius: 50%;
                    margin: 25px 5px;
                }
                &.text{
                    display: none;
                }
            }
        }
        .desc{
            display: block;
            width: auto;
            max-width: 620px;
            text-align: center;
            position: static;
            margin: 0 auto;
            padding: 40px;
        }
        .cont_box{
            display: block;
            margin: 60px 0;
        }
    }
    .flex_30{
        background: linear-gradient(to right bottom, #1f224b 0%, #2d5d85 100%);
        p.desc{
            font-size: 24px;
            margin-bottom: 24px;
        }
        span.desc{
            max-width: 450px;
            display: block;
        }
        .desc, .sub, .desc{
            text-align: center;
        }
    }
}
// sc_spec끝
.sc_function{
    > div{
        margin-top: 170px;
    }
    .sc_sub{
        margin-bottom: 20px;
    }
    .sc_desc{
        width: 74%;
        margin-bottom: 70px;
    }
}
.display_area{
    .img_box{
        position: relative;
        text-align: right;
    }
    .monitor_bg{
        display: block;
        max-width: 927px;
        width: 100%;
        position: absolute;
        top: 4.5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .monitor{
        display: block;
        max-width: 1215px;
        width: 100%;
        // height: 705px;
        position: relative;
        margin: 0 auto;
    }
    .caption{
        margin-right: 18%;
    }
}
.group_flex03{
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    .flex_item{
        width: calc((100% - 48px) / 3);
        background-color: #151516;
        border-radius: 30px;
        padding: 40px;
        img{
            max-width: 245px;
        }
        .sub{
            font-size: 80px;
            font-weight: 700;
            text-align: center;
            margin: 20px 0;
        }
        .desc{
            font-size: 28px;
            text-align: center;
            margin-bottom: 60px;
        }
    }
}
.display_list{
    .cont_box{
        margin: 60px 0;
    }
}
// display끝
.camera_area{
    .img_box{
        position: relative;
    }
    .monitor_bg{
        display: block;
        max-width: 1057px;
        width: 100%;
        // height: 320px;
        position: absolute;
        // left: 50%;
        // margin-left: -528.5px;
        top: 4.5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .monitor{
        display: block;
        max-width: 1125px;
        width: 100%;
        margin: 0 auto;
        // height: 664px;
        position: relative;
        // left: 50%;
        // margin-left: -562.5px;
    }
}
.group_flex04{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .col_left{
        width: calc(50% - 12px);
        background-color: #151516;
        border-radius: 30px;
        padding: 40px;
    }
    .col_right{
        padding: 40px;
        width: calc(50% - 12px);
        background-color: #151516;
        border-radius: 30px;
    }
    .cont_box{
        align-items: stretch;
        .img_box{
            width: 100%;
        }
    }
    .video_box{
        max-width: 362px;
        margin: 0 auto;
    }
}
// camera끝
.keyboard_area{
    .sc_desc{
        width: 80%;
    }
    > .img_box{
        max-width: 1207px;
    }
    .group_flex04{
        .col_left{
            background: linear-gradient(150deg, #124d86 0%, #14204e 100%);
            img{
                max-width: 286px;
                margin: 0 auto;
            }
            .sub{
                max-width: 320px;   
            }
        }
        .col_right{
            overflow: hidden;
            .img_box{
                img{
                    max-width: 682px;
                    margin: 0 0 -40px -40px;
                }
            }
            .desc{
                max-width: 475px;
                display: block;
            }
        }
    }
}
.group_flex05{
    margin-top: 24px;
    background: linear-gradient(rgba(0,0,0,0), #151b25, #151516),linear-gradient(90deg, #172538, #18263a 50%);
    padding: 40px;
    border-radius: 30px;
    box-sizing: border-box;
    .col_left{
        width: 50%;
        padding-right: 10%;
        box-sizing: border-box;
    }
    .col_right{
        width: 50%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        .right_item{
            width: 50%;
            padding-right: 25%;
            box-sizing: border-box;
            &:nth-child(n+3){
                margin-top: 90px;
            }
            .desc{
                font-size: 21px;
                margin-top: 10px;       
            }
        }
        .right_item:nth-child(1) img{
            width: 84px;
            height: 82px;
        }
        .right_item:nth-child(2) img{
            width: 87px;
            height: 75px;
        }
        .right_item:nth-child(3) img{
            width: 70px;
            height: 90px;
        }
        .right_item:nth-child(4) img{
            width: 82px;
            height: 82px;
        }
    }
}
// keyboard끝
.connect_area{
    .sc_sub{
        margin-bottom: 100px;
    }
    .group_flex05{
        background-color: #c76686;
        background-image: radial-gradient(at 65% 0%, #714f92 0px, transparent 50%),radial-gradient(at 0% 65%, rgba(86,36,143,0.64) 0px, transparent 50%),radial-gradient(at 0% 37%, rgba(86,36,143,0.66) 0px, transparent 50%),radial-gradient(at 0% 2%, #57248f 0px, transparent 50%),radial-gradient(at 100% 5%, #714f92 0px, transparent 50%),radial-gradient(at 0% 100%, #56248f 0px, transparent 50%);
        .col_left{
            padding-right: 9%;
        }
        .col_right{
            padding: 40px;
            box-sizing: border-box;
            .right_item{
                padding-right: 20%;
            }
            .right_item:nth-child(1) img{
                width: 82px;
                height: 82px;
            }
            .right_item:nth-child(2) img{
                width: 100px;
                height: 84px;
            }
            .right_item:nth-child(3) img{
                width: 68px;
                height: 84px;
            }
            .right_item:nth-child(4) img{
                width: 87px;
                height: 82px;
            }
            .right_item:nth-child(5) img{
                width: 84px;
                height: 60px;
            }
            .right_item:nth-child(6) img{
                width: 80px;
                height: 82px;
            }
        }
    }
}
//sc_funtion 끝
.sc_groupcol01{
    background: #151516;
    margin-top: 145px;
    .sub{
        font-size: 48px;
    }
    .desc{
        font-size: 17px;
        font-weight: 400;
    }
    .inner02{
        > div{
            border-radius: 30px;
            margin-top: 25px;
        }
        .group_flex05{
            background: none;
            padding: 0;
        }
    }
    .group_flex04{
        text-align: center;
        .col_left{
            background: #1d1d1f;
        }
        .col_right{
            background: #1d1d1f;
            button{
                background: #0077ED;
                padding: 8px 16px;
                border-radius: 980px;
                &:hover{
                    background: #2997ff;
                }
                a{
                    text-decoration: none;
                }
            }
        }
        .desc{
            width: 84%;
            margin: 15px auto 0;
            display: block;
        }
        .link_more{
            display: inline-block;
            margin-top: 10px;
            line-height: 20px;
            &:hover{
                text-decoration: underline; 
            }
            &.blue{
                color: #2997ff;
            }
        }
    }
}
.ar_area{
    background: #1d1d1f;
    .group_flex05{
        align-items: flex-end;
    }
    .desc{
        margin-top: 14px;
    }
    .col_left{
        padding: 90px 0 55px 8%;

        .img_box{
            max-width: 54px;
            height: 62px;
            margin: 0 0 27px 0;
        }
    }
    .col_right{
        .img_box{
            max-width: 405px;
            height: 551px;
            margin-bottom: -40px;
        }
    }
}
.color_box{
    margin-top: 42px;
    display: flex;
    .select_color{
        text-align: center;
        &+.select_color{
            margin-left: 10px;
        }
        button{
            width: 26px;height: 26px;
            border-radius: 50%;
            margin: 0 auto;
            text-align: center;
            display: block;
            position: relative;
        }
        .spacegray{
            background: #7d7e80;
        }
        .silver{
            background: #e4e5df;
        }
        .name{
            font-size: 12px;
            margin-top: 8px;
            opacity: 0;
        }
        &.active{
            button{
                &::after{
                    content: '';
                    position: absolute; 
                    top: -4px; left: -4px;
                    width: 34px;height: 34px;
                    border-radius: 50%;
                    border: 2px solid #0071e3;
                }
            }
            .name{
                opacity: 1;
            }
        }
    }
}
//ar 끝
.compare_area{
    background: #1d1d1f;
    text-align: center;
    padding: 67px 0;
    box-sizing: border-box;
    .link_compare{
        color: #2997ff;
        font-size: 21px;
        display: inline-block;
        margin: 43px auto 81px auto;
        &:hover{
            text-decoration: underline;
        }
    }
}
.table{
    text-align: left;
    th{
        padding-right: 60px;
    }
    td{
        padding-top: 10px;
        font-size: 14px;
        vertical-align: top;
    }
    .color{
        td{
            padding-top: 18px;
        }
        img{
            max-height: 14px;
        }
    }
    .modelname{
        td{
        font-size: 24px;
        font-weight: 600;
        padding-top: 30px;
        position: relative;
            &:nth-child(2)::after,
            &:nth-child(3)::after{
                content:'new';
                position: absolute;
                top: 14px;
                left: 0;
                color: #bf4800;
                font-size: 12px;
            }
            .chip{
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    .displaysize{
        td{
            padding-top: 35px;
        }
    }
    .btn_blue{
        margin: 20px 0 10px 0;
    }
    .more{
        color: #2997ff;
        padding-top: 10px;
        line-height: 27px;
        a{
            display: inline-block;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.monterey{
    background: url('../images/monterey.jpg') no-repeat !important;
    background-size: 1390px;
    .img_box{
        width: 188px;
    }
    .link_more{
        color: #FFF;
    }
}
.education{
    height: 600px;
    background: url('../images/education.jpg') no-repeat !important;
    background-size: 100% !important;
    .link_more{
        color: #FFF;
    }
}
.business{
    height: 600px;
    background: url('../images/business.jpg') no-repeat !important;
    background-size: 100% !important;
    .link_more{
        color: #FFF;
    }
}