.sc_title{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}
.sc_sub{
    font-size: 80px;
    font-weight: 700;
}
.sc_desc{
    color: #A1A1A6;
    font-size: 28px;
    font-weight: 500;
}
.title{
    font-size: 21px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 600;
}
.sub{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
}
.desc{
    font-weight: 600;
    color: #f5f5f7;
}
p.desc{
    font-size: 32px;
}
span.desc{
    font-size: 19px;
}
.caption{
    font-size: 12px;
    color: #fff;
}