.sc_title{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}
.sc_sub{
    font-size: 80px;
    font-weight: 700;
}
.sc_desc{
    color: #A1A1A6;
    font-size: 28px;
    font-weight: 500;
}
.title{
    font-size: 21px;
    margin-bottom: 20px;
    font-weight: 600;
    width: 100%;
}
.sub{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
}
.desc{
    font-weight: 600;
    color: #f5f5f7;
    font-size: 28px;
}
.sz_32{
    font-size: 32px;
}
.sz_19{
    font-size: 19px;
    line-height: 1.5em;
}
.caption{
    font-size: 12px;
    color: #fff;
}
.footer_title{
    font-size: 19px;
    font-weight: 600;
}
