.header{
    width: 100%;
}
.nav_list{
    display: flex;
    justify-content: space-between;
    line-height: 44px;
    text-align: center;
    .nav_item{
        font-size: 12px;
        .nav_link{
            opacity: .8;
            &:hover{
                opacity: 1;
            }        
        }
    }
}
.btn_search{
    width: 15px;
    height: 44px;
    background: url('https://www.apple.com/ac/globalnav/7/ko_KR/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_large.svg') 0 0 no-repeat;
    background-size: 15px 88px;
    fieldset{
        display: none;
    }
}
.btn_cart{
    width: 15px;
    height: 44px;
    background: url('https://www.apple.com/ac/globalnav/7/ko_KR/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__yzte50i47ciu_large.svg') 0 50% no-repeat;
    background-size: 15px;
}
.header_center{
    background: #1d1d1fb8;
    line-height: 52px;
    overflow: hidden;
    border-bottom: 1px solid #FFFFFF3d;
    &::after{content: '';clear: both;display: block;}
    .inner01{
        .nav_title{
            float: left;
            font-size: 21px;
            font-weight: 600;
        }
        .nav_list{
            float: right;
            align-items: center;
            .nav_item{
                vertical-align: top;
                line-height: 52px;
                &+.nav_item{
                    margin-left: 24px;
                    color: #fff;
                }
                .nav_link{
                    &:hover{
                        color: #2997ff;
                    }
                }
            }
            button{
                margin-left: 24px;
                text-align: center;
                background: #0071e3;
                color: #fff;
                border-radius: 22px;
                font-size: 12px;
                line-height: 24px;
                padding: 2px 11px;
                height: 24px;
            }
        }
    }
}
.header_bottom{
    background: #1d1d1f;
    line-height: 54px;
    text-align: center;
    .nav_desc{
        font-size: 14px;
        font-weight: 400;
    }
    .btn_shopping{
        color: #2997ff;
        display: inline-block;
        &:hover{
            text-decoration: underline;
        }
    }
}
