.header{
    width: 100%;
    .inner{
        display: block;
    }
    .wrap{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .button_box{
        float: right;
        .arrow{
            border: none;
        }
    }
}
.link_main{
    font-size: 40px;
}
