@charset "UTF-8";
@font-face {
  font-family: "sf-pro-display";
  src: url(../fonts/sf-pro-display_regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sf-pro-display";
  src: url(../fonts/sf-pro-display_medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "sf-pro-display";
  src: url(../fonts/sf-pro-display_semibold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "SFProKRDisplay";
  src: url(../fonts/SFProKRDisplay_regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SFProKRDisplay";
  src: url(../fonts/SFProKRDisplay_medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "SFProKRDisplay";
  src: url(../fonts/SFProKRDisplay_semibold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "SFProKRDisplay";
  src: url(../fonts/SFProKRDisplay_bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "sf-pro-text";
  src: url(../fonts/sf-pro-text_regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sf-pro-text";
  src: url(../fonts/sf-pro-text_medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "sf-pro-icons";
  src: url(../fonts/sf-pro-icons_regular.woff2) format("woff2");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
  line-height: 1;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li {
  list-style: none;
}

/*
    @세팅구역
*/
body {
  width: 100%;
  min-width: 320px;
  font-size: 17px;
  font-family: "sf-pro-display", "sf-pro-text", "SFProKRDisplay", "sf-pro-icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: #f5f5f7;
  line-height: 1.2;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #000;
  word-break: keep-all;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  display: block;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

b, strong {
  font-weight: bold;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.nav_inner {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 0 22px;
}
.nav_inner::after {
  content: "";
  clear: both;
  display: block;
}

.inner01 {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.inner01::after {
  content: "";
  clear: both;
  display: block;
}

.inner02 {
  max-width: 1390px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.inner02::after {
  content: "";
  clear: both;
  display: block;
}

.video_box {
  max-width: 1208px;
  margin: 0 auto;
}

.img_box {
  margin: 0 auto;
}

.btn_reference {
  display: inline-block;
}
.btn_reference:hover {
  color: #2997ff;
}

sup {
  font-size: smaller;
  vertical-align: super;
  line-height: 0;
}
sup a {
  display: inline-block;
}
sup a:hover {
  color: #2997ff;
}

.m8 {
  margin: 38px auto 98px auto;
  color: #8686b8;
}

.desc_gray {
  color: #d2d2d7;
}

.sub_gray {
  color: #A1A1A6;
}

.txt_box {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.cont_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.cont_txt {
  width: 100%;
}

.group_flex01 {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #151516;
  border-radius: 30px;
}

.group_flex02 {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.group_flex02 .sub {
  font-size: 56px;
}

.sc_title {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}

.sc_sub {
  font-size: 80px;
  font-weight: 700;
}

.sc_desc {
  color: #A1A1A6;
  font-size: 28px;
  font-weight: 500;
}

.title {
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: 600;
  width: 100%;
}

.sub {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
}

.desc {
  font-weight: 600;
  color: #f5f5f7;
  font-size: 28px;
}

.sz_32 {
  font-size: 32px;
}

.sz_19 {
  font-size: 19px;
  line-height: 1.5em;
}

.caption {
  font-size: 12px;
  color: #fff;
}

.footer_title {
  font-size: 19px;
  font-weight: 600;
}

.btn_arrow::after {
  content: "\f301";
  font-family: "sf-pro-icons";
  color: inherit;
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  position: relative;
  z-index: 1;
  position: relative !important;
  top: -0.1em !important;
  padding-left: 0.3em;
}

.btn_blue {
  text-align: center;
  background: #0071e3;
  color: #fff;
  border-radius: 22px;
  font-size: 12px;
  line-height: 24px;
  padding: 2px 11px;
  height: 24px;
}

.footer {
  margin-top: 25px;
  background: #1d1d1f;
}
.footer .inner01 > div + div {
  border-top: 1px solid #424245;
}

.service_area {
  padding: 56px 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.service_area .img_box img {
  max-height: 56px;
  margin: 0 auto;
}
.service_area .desc {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}
.service_area .link_service {
  flex: 1;
}
.service_area .link_more {
  font-size: 14px;
  font-weight: 400;
  color: #2997ff;
}
.service_area .link_more:hover {
  text-decoration: underline;
}

.reference_area {
  padding: 17px 0;
  font-size: 12px;
  font-weight: 400;
  color: #86868b;
}
.reference_area a {
  font-weight: bold;
  display: inline-block;
  color: #d2d2d7;
}
.reference_area ol {
  padding: 0 17px;
}
.reference_area ol .reference_item {
  box-sizing: border-box;
  margin-top: 10px;
}

.sitemap_area {
  font-size: 12px;
  color: #d2d2d7;
}
.sitemap_area nav {
  display: flex;
  padding: 17px 0;
}
.sitemap_area nav div {
  padding-right: 20px;
  position: relative;
}
.sitemap_area nav div:first-child {
  background: url("https://www.apple.com/ac/globalfooter/7/ko_KR/assets/ac-footer/breadcrumbs/apple/icon_dark_large.svg") no-repeat;
  width: 14px;
  height: 18px;
}
.sitemap_area nav div::after {
  content: "";
  position: absolute;
  top: 0;
  right: 8px;
  width: 8px;
  background-size: 8px 36px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/ac/globalfooter/7/ko_KR/assets/ac-footer/breadcrumbs/separator/icon_dark_large.svg");
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  background-position-y: 100%;
}
.sitemap_area nav div:last-child::after {
  display: none;
}

.group_flex06 {
  display: flex;
}
.group_flex06 .flex_col {
  flex: 1;
  margin-right: 20px;
}
.group_flex06 .flex_col li {
  margin-bottom: 10px;
}
.group_flex06 .flex_col li a:hover {
  text-decoration: underline;
}

.footer_group {
  font-size: 12px;
  padding: 34px 0;
}
.footer_group a:hover {
  text-decoration: underline;
}
.footer_group .top {
  border-bottom: 1px solid #424245;
  color: #86868b;
  margin-bottom: 7px;
  padding-bottom: 8px;
}
.footer_group .top a {
  display: inline-block;
  color: #2997ff;
}
.footer_group .bottom {
  overflow: hidden;
  color: #d2d2d7;
}
.footer_group .bottom::after {
  content: "";
  clear: both;
  display: block;
}
.footer_group .bottom .left {
  float: left;
  display: flex;
}
.footer_group .bottom .left .copy {
  color: #86868b;
  margin-right: 30px;
}
.footer_group .bottom .left .policy {
  display: flex;
}
.footer_group .bottom .left .policy .policy_item + .policy_item {
  padding-left: 10px;
  margin-left: 7px;
  border-left: 1px solid #424245;
}
.footer_group .bottom .right {
  float: right;
}

.header {
  width: 100%;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  line-height: 44px;
  text-align: center;
}
.nav_list .nav_item {
  font-size: 12px;
}
.nav_list .nav_item .nav_link {
  opacity: 0.8;
}
.nav_list .nav_item .nav_link:hover {
  opacity: 1;
}

.btn_search {
  width: 15px;
  height: 44px;
  background: url("https://www.apple.com/ac/globalnav/7/ko_KR/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_large.svg") 0 0 no-repeat;
  background-size: 15px 88px;
}
.btn_search fieldset {
  display: none;
}

.btn_cart {
  width: 15px;
  height: 44px;
  background: url("https://www.apple.com/ac/globalnav/7/ko_KR/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__yzte50i47ciu_large.svg") 0 50% no-repeat;
  background-size: 15px;
}

.header_center {
  padding: 0 24px;
  background: rgba(29, 29, 31, 0.7215686275);
  line-height: 52px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2392156863);
}
.header_center.show {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  transform: translateY(0px);
  background-color: rgba(29, 29, 31, 0.72);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}
.header_center::after {
  content: "";
  clear: both;
  display: block;
}
.header_center .nav_inner .link_pro13 {
  float: left;
  font-size: 21px;
  font-weight: 600;
}
.header_center .nav_inner .nav {
  float: right;
  display: flex;
  align-items: center;
}
.header_center .nav_inner .nav .nav_list {
  align-items: center;
}
.header_center .nav_inner .nav .nav_list .nav_item {
  vertical-align: top;
  line-height: 52px;
}
.header_center .nav_inner .nav .nav_list .nav_item + .nav_item {
  margin-left: 24px;
  color: #fff;
}
.header_center .nav_inner .nav .nav_list .nav_item .nav_link:hover {
  color: #2997ff;
}
.header_center .btn_blue {
  margin-left: 24px;
}

.header_bottom {
  background: #1d1d1f;
  line-height: 54px;
  text-align: center;
}
.header_bottom .nav_desc {
  font-size: 14px;
  font-weight: 400;
}
.header_bottom .btn_shopping {
  color: #2997ff;
  display: inline-block;
}
.header_bottom .btn_shopping:hover {
  text-decoration: underline;
}

.pro_area {
  margin-top: 50px;
  margin-bottom: 270px;
}
.pro_area .inner01 {
  margin-top: -152px;
}
.pro_area .inner01 .text_box {
  text-align: center;
}
.pro_area .inner01 .text_box .desc {
  padding: 0 40px;
  color: #d2d2d7;
}
.pro_area .inner01 .text_box .sc_sub {
  font-size: 96px;
  background: radial-gradient(#eff1ff, #000);
  background-size: 100% 200%;
  background-position: 50% 100%;
  color: transparent;
  -webkit-background-clip: text;
}
.pro_area .inner01 .text_box .sc_desc {
  font-size: 32px;
  color: #d2d2d7;
}
.pro_area .m2_box {
  margin-top: 58px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro_area .m2_box .sc_desc {
  font-size: 40px;
}
.pro_area .m2_box img {
  width: 94px;
  height: 94px;
}
.pro_area .price_box {
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.pro_area .price_box .price::after {
  content: "|";
  margin: 0 30px;
}
.pro_area .price_box .link_event:hover {
  text-decoration: underline;
}

.memory_area {
  text-align: center;
}
.memory_area .sc_sub {
  color: #fff;
}

.group_row01 .sc_sub {
  margin: 28px 0;
}
.group_row01 .sc_desc {
  margin: 38px 0;
  color: #fff;
}
.group_row01 .img_box img {
  max-width: 434px;
  height: 434px;
  margin: 0 auto;
}

.chip_box {
  display: flex;
  justify-content: center;
}
.chip_box .text_box {
  margin: 0 24px;
  text-align: left;
}
.chip_box .text_box .title {
  font-size: 40px;
}
.chip_box .text_box .desc {
  font-size: 14px;
  color: #fff;
}

.btn_box {
  margin: 70px auto 218px;
  background: linear-gradient(135deg, #bead47, #922b28, #8e089b);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 980px;
}
.btn_box .btn_more {
  border-radius: 50px;
  line-height: 48px;
  background-clip: padding-box;
  background-color: #000;
  color: #fff;
  border: 2px solid transparent;
  box-sizing: content-box;
  outline: none;
  padding: 0 16px;
  transition: background-color 350ms ease-in-out, color 350ms ease-in-out, border-color 350ms ease-in-out;
}
.btn_box .btn_more:hover {
  background-clip: border-box;
  background-color: #fff;
  border-color: #fff;
  color: #000;
}
.btn_box .btn_more::after {
  content: "\f30f";
  padding-left: 5px;
}

.comparison .cont_box {
  justify-content: space-between;
  align-items: flex-start;
}
.comparison .btn_graph {
  display: inline-block;
}
.comparison .btn_graph.active {
  color: #fff;
}
.comparison .col_left {
  width: 25%;
}
.comparison .col_right {
  margin-left: 10%;
  width: 65%;
  padding-right: 60px;
  box-sizing: border-box;
}

.graph_area + .graph_area {
  margin-top: 96px;
  border-top: solid 2px #2C2C2D;
  padding: 91px 0;
}
.graph_area .desc {
  font-size: 32px;
}
.graph_area .desc + .desc {
  color: #86868b;
}

.graph_box {
  display: none;
}
.graph_box.active {
  display: block;
  box-sizing: border-box;
}
.graph_box.active .desc {
  font-size: 28px;
}
.graph_box.active .graph {
  display: flex;
  margin-top: 66px;
}
.graph_box.active .graph .bar_m2 {
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #ffc600, #e8482e, #9c209d);
  border-radius: 5px;
  margin-bottom: 15px;
}
.graph_box.active .graph .bar_m1 {
  width: 70%;
  height: 10px;
  background: #d2d2d7;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 39px;
}
.graph_box.active .graph .graph_left {
  width: 72%;
}
.graph_box.active .graph .graph_right {
  width: 28%;
  font-size: 56px;
  font-weight: 600;
  color: #CC18C6;
  padding-left: 20px;
  box-sizing: border-box;
  line-height: 0.5;
}
.graph_box.active .graph span.desc {
  font-size: 17px;
  color: #d2d2d7;
}

.flex_70 {
  background-color: #151516;
  border-radius: 30px;
  width: calc(67% - 12px);
  padding: 40px 0 0 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.flex_30 {
  background: url("../images/bg01.jpg");
  border-radius: 30px;
  width: calc(33% - 12px);
  padding: 40px;
  box-sizing: border-box;
}
.flex_30 img {
  max-width: 52px;
  height: 52px;
  margin-bottom: 20px;
}

.capacity .flex_70 {
  position: relative;
  min-height: 700px;
}
.capacity .flex_70 .title {
  position: absolute;
  z-index: 10;
}
.capacity .flex_70 .cooling {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 918px;
  height: 720px;
}
.capacity .flex_70 .cont_box {
  position: relative;
}
.capacity .flex_70 .cont_box .cont_txt {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  max-width: 420px;
  padding-right: 35px;
  box-sizing: border-box;
  z-index: 10;
}

.macOS {
  align-items: center;
  margin-top: 24px;
  background-color: #000;
  background-image: radial-gradient(at 100% 100%, rgba(111, 88, 116, 0.7) 0px, transparent 50%), radial-gradient(at 90% 0%, #0a2961 0px, transparent 50%), radial-gradient(at 18% 16%, rgba(58, 3, 130, 0.79) 0px, transparent 50%), radial-gradient(at 100% 40%, rgba(76, 21, 147, 0.22) 0px, transparent 50%), radial-gradient(at 0% 100%, #74517b 0px, transparent 50%);
}
.macOS .col_left {
  width: 58%;
}
.macOS .col_left .img_box {
  margin: -80px 0 0 -40px;
  position: relative;
}
.macOS .col_left .caption {
  position: absolute;
  bottom: -20px;
  right: 35%;
}
.macOS .col_right {
  width: 42%;
  margin-left: 0;
  padding: 0 50px;
  box-sizing: border-box;
}
.macOS .col_right .sub {
  font-size: 56px;
}

.battery .flex_30 {
  background: linear-gradient(to bottom, #203025 0%, #151516 100%);
}
.battery .flex_30 .sub {
  text-align: center;
  background: linear-gradient(to top, #4cd265 50%, #fff 50%);
  background-size: auto 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5px;
  margin-bottom: -5px;
  position: relative;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.battery .flex_30 .sub::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #4cd265 50%, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.battery .flex_70 {
  background: linear-gradient(165deg, #2c4735 0%, #1d243e 60%, #101124 90%);
  overflow: hidden;
}
.battery .flex_70::after {
  content: "";
  clear: both;
  display: block;
}
.battery .flex_70 .cont_txt {
  width: 42%;
}
.battery .flex_70 .img_box {
  width: 58%;
  position: relative;
}
.battery .flex_70 .img_box .caption {
  position: absolute;
  top: -5%;
  right: 5%;
}

.flex_bottom .secu .img_box {
  width: 100px;
  height: 128px;
  background: url("../images/lock.png") 0 0 no-repeat;
  background-size: 800px 1152px;
}
.flex_bottom .secu .sub {
  width: 100%;
  text-align: center;
  font-size: 48px;
}
.flex_bottom .secu .char_wrap {
  display: flex;
  justify-content: center;
}
.flex_bottom .secu .char_wrap .char {
  display: flex;
  align-items: center;
  line-height: 60px;
}
.flex_bottom .secu .char_wrap i.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #d2d2d7;
  border-radius: 50%;
  margin: 25px 5px;
}
.flex_bottom .secu .char_wrap i.text {
  display: none;
}
.flex_bottom .secu .desc {
  display: block;
  width: auto;
  max-width: 620px;
  text-align: center;
  position: static;
  margin: 0 auto;
  padding: 40px;
}
.flex_bottom .secu .cont_box {
  display: block;
  margin: 60px 0;
}
.flex_bottom .flex_30 {
  background: linear-gradient(to right bottom, #1f224b 0%, #2d5d85 100%);
}
.flex_bottom .flex_30 p.desc {
  font-size: 24px;
  margin-bottom: 24px;
}
.flex_bottom .flex_30 span.desc {
  max-width: 450px;
  display: block;
}
.flex_bottom .flex_30 .desc, .flex_bottom .flex_30 .sub, .flex_bottom .flex_30 .desc {
  text-align: center;
}

.sc_function > div {
  margin-top: 170px;
}
.sc_function .sc_sub {
  margin-bottom: 20px;
}
.sc_function .sc_desc {
  width: 74%;
  margin-bottom: 70px;
}

.display_area .img_box {
  position: relative;
  text-align: right;
}
.display_area .monitor_bg {
  display: block;
  max-width: 927px;
  width: 100%;
  position: absolute;
  top: 4.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.display_area .monitor {
  display: block;
  max-width: 1215px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.display_area .caption {
  margin-right: 18%;
}

.group_flex03 {
  margin-top: 130px;
  display: flex;
  justify-content: space-around;
}
.group_flex03 .flex_item {
  width: calc((100% - 48px) / 3);
  background-color: #151516;
  border-radius: 30px;
  padding: 40px;
}
.group_flex03 .flex_item img {
  max-width: 245px;
}
.group_flex03 .flex_item .sub {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}
.group_flex03 .flex_item .desc {
  font-size: 28px;
  text-align: center;
  margin-bottom: 60px;
}

.display_list .cont_box {
  margin: 60px 0;
}

.camera_area .img_box {
  position: relative;
}
.camera_area .monitor_bg {
  display: block;
  max-width: 1057px;
  width: 100%;
  position: absolute;
  top: 4.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.camera_area .monitor {
  display: block;
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.group_flex04 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.group_flex04 .col_left {
  width: calc(50% - 12px);
  background-color: #151516;
  border-radius: 30px;
  padding: 40px;
}
.group_flex04 .col_right {
  padding: 40px;
  width: calc(50% - 12px);
  background-color: #151516;
  border-radius: 30px;
}
.group_flex04 .cont_box {
  align-items: stretch;
}
.group_flex04 .cont_box .img_box {
  width: 100%;
}
.group_flex04 .video_box {
  max-width: 362px;
  margin: 0 auto;
}

.keyboard_area .sc_desc {
  width: 80%;
}
.keyboard_area > .img_box {
  max-width: 1207px;
}
.keyboard_area .group_flex04 .col_left {
  background: linear-gradient(150deg, #124d86 0%, #14204e 100%);
}
.keyboard_area .group_flex04 .col_left img {
  max-width: 286px;
  margin: 0 auto;
}
.keyboard_area .group_flex04 .col_left .sub {
  max-width: 320px;
}
.keyboard_area .group_flex04 .col_right {
  overflow: hidden;
}
.keyboard_area .group_flex04 .col_right .img_box img {
  max-width: 682px;
  margin: 0 0 -40px -40px;
}
.keyboard_area .group_flex04 .col_right .desc {
  max-width: 475px;
  display: block;
}

.group_flex05 {
  margin-top: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0), #151b25, #151516), linear-gradient(90deg, #172538, #18263a 50%);
  padding: 40px;
  border-radius: 30px;
  box-sizing: border-box;
}
.group_flex05 .col_left {
  width: 50%;
  padding-right: 10%;
  box-sizing: border-box;
}
.group_flex05 .col_right {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.group_flex05 .col_right .right_item {
  width: 50%;
  padding-right: 25%;
  box-sizing: border-box;
}
.group_flex05 .col_right .right_item:nth-child(n+3) {
  margin-top: 90px;
}
.group_flex05 .col_right .right_item .desc {
  font-size: 21px;
  margin-top: 10px;
}
.group_flex05 .col_right .right_item:nth-child(1) img {
  width: 84px;
  height: 82px;
}
.group_flex05 .col_right .right_item:nth-child(2) img {
  width: 87px;
  height: 75px;
}
.group_flex05 .col_right .right_item:nth-child(3) img {
  width: 70px;
  height: 90px;
}
.group_flex05 .col_right .right_item:nth-child(4) img {
  width: 82px;
  height: 82px;
}

.connect_area .sc_sub {
  margin-bottom: 100px;
}
.connect_area .group_flex05 {
  background-color: #c76686;
  background-image: radial-gradient(at 65% 0%, #714f92 0px, transparent 50%), radial-gradient(at 0% 65%, rgba(86, 36, 143, 0.64) 0px, transparent 50%), radial-gradient(at 0% 37%, rgba(86, 36, 143, 0.66) 0px, transparent 50%), radial-gradient(at 0% 2%, #57248f 0px, transparent 50%), radial-gradient(at 100% 5%, #714f92 0px, transparent 50%), radial-gradient(at 0% 100%, #56248f 0px, transparent 50%);
}
.connect_area .group_flex05 .col_left {
  padding-right: 9%;
}
.connect_area .group_flex05 .col_right {
  padding: 40px;
  box-sizing: border-box;
}
.connect_area .group_flex05 .col_right .right_item {
  padding-right: 20%;
}
.connect_area .group_flex05 .col_right .right_item:nth-child(1) img {
  width: 82px;
  height: 82px;
}
.connect_area .group_flex05 .col_right .right_item:nth-child(2) img {
  width: 100px;
  height: 84px;
}
.connect_area .group_flex05 .col_right .right_item:nth-child(3) img {
  width: 68px;
  height: 84px;
}
.connect_area .group_flex05 .col_right .right_item:nth-child(4) img {
  width: 87px;
  height: 82px;
}
.connect_area .group_flex05 .col_right .right_item:nth-child(5) img {
  width: 84px;
  height: 60px;
}
.connect_area .group_flex05 .col_right .right_item:nth-child(6) img {
  width: 80px;
  height: 82px;
}

.sc_groupcol01 {
  background: #151516;
  margin-top: 145px;
}
.sc_groupcol01 .sub {
  font-size: 48px;
}
.sc_groupcol01 .desc {
  font-size: 17px;
  font-weight: 400;
}
.sc_groupcol01 .inner02 > div {
  border-radius: 30px;
  margin-top: 25px;
}
.sc_groupcol01 .inner02 .group_flex05 {
  background: none;
  padding: 0;
}
.sc_groupcol01 .group_flex04 {
  text-align: center;
}
.sc_groupcol01 .group_flex04 .col_left {
  background: #1d1d1f;
}
.sc_groupcol01 .group_flex04 .col_right {
  background: #1d1d1f;
}
.sc_groupcol01 .group_flex04 .col_right button {
  background: #0077ED;
  padding: 8px 16px;
  border-radius: 980px;
}
.sc_groupcol01 .group_flex04 .col_right button:hover {
  background: #2997ff;
}
.sc_groupcol01 .group_flex04 .col_right button a {
  text-decoration: none;
}
.sc_groupcol01 .group_flex04 .desc {
  width: 84%;
  margin: 15px auto 0;
  display: block;
}
.sc_groupcol01 .group_flex04 .link_more {
  display: inline-block;
  margin-top: 10px;
  line-height: 20px;
}
.sc_groupcol01 .group_flex04 .link_more:hover {
  text-decoration: underline;
}
.sc_groupcol01 .group_flex04 .link_more.blue {
  color: #2997ff;
}

.ar_area {
  background: #1d1d1f;
}
.ar_area .group_flex05 {
  align-items: flex-end;
}
.ar_area .desc {
  margin-top: 14px;
}
.ar_area .col_left {
  padding: 90px 0 55px 8%;
}
.ar_area .col_left .img_box {
  max-width: 54px;
  height: 62px;
  margin: 0 0 27px 0;
}
.ar_area .col_right .img_box {
  max-width: 405px;
  height: 551px;
  margin-bottom: -40px;
}

.color_box {
  margin-top: 42px;
  display: flex;
}
.color_box .select_color {
  text-align: center;
}
.color_box .select_color + .select_color {
  margin-left: 10px;
}
.color_box .select_color button {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  display: block;
  position: relative;
}
.color_box .select_color .spacegray {
  background: #7d7e80;
}
.color_box .select_color .silver {
  background: #e4e5df;
}
.color_box .select_color .name {
  font-size: 12px;
  margin-top: 8px;
  opacity: 0;
}
.color_box .select_color.active button::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid #0071e3;
}
.color_box .select_color.active .name {
  opacity: 1;
}

.compare_area {
  background: #1d1d1f;
  text-align: center;
  padding: 67px 0;
  box-sizing: border-box;
}
.compare_area .link_compare {
  color: #2997ff;
  font-size: 21px;
  display: inline-block;
  margin: 43px auto 81px auto;
}
.compare_area .link_compare:hover {
  text-decoration: underline;
}

.table {
  text-align: left;
}
.table th {
  padding-right: 60px;
}
.table td {
  padding-top: 10px;
  font-size: 14px;
  vertical-align: top;
}
.table .color td {
  padding-top: 18px;
}
.table .color img {
  max-height: 14px;
}
.table .modelname td {
  font-size: 24px;
  font-weight: 600;
  padding-top: 30px;
  position: relative;
}
.table .modelname td:nth-child(2)::after, .table .modelname td:nth-child(3)::after {
  content: "new";
  position: absolute;
  top: 14px;
  left: 0;
  color: #bf4800;
  font-size: 12px;
}
.table .modelname td .chip {
  font-size: 14px;
  font-weight: 500;
}
.table .displaysize td {
  padding-top: 35px;
}
.table .btn_blue {
  margin: 20px 0 10px 0;
}
.table .more {
  color: #2997ff;
  padding-top: 10px;
  line-height: 27px;
}
.table .more a {
  display: inline-block;
}
.table .more a:hover {
  text-decoration: underline;
}

.monterey {
  background: url("../images/monterey.jpg") no-repeat !important;
  background-size: 1390px;
}
.monterey .img_box {
  width: 188px;
}
.monterey .link_more {
  color: #FFF;
}

.education {
  height: 600px;
  background: url("../images/education.jpg") no-repeat !important;
  background-size: 100% !important;
}
.education .link_more {
  color: #FFF;
}

.business {
  height: 600px;
  background: url("../images/business.jpg") no-repeat !important;
  background-size: 100% !important;
}
.business .link_more {
  color: #FFF;
}