@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
  line-height: 1;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

/*
    @세팅구역
*/
body {
  width: 100%;
  min-width: 1380px;
  font-size: 13px;
  font-family: "Noto Sans KR", sans-serif;
  color: #1F1F1F;
  line-height: 1.4;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  display: block;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

b, strong {
  font-weight: bold;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.inner {
  width: 100%;
  padding: 0 48px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.inner::after {
  content: "";
  clear: both;
  display: block;
}

.swiper-pagination {
  width: auto;
  display: inline-block;
  bottom: 20px;
  height: 19px;
  padding: 0px 8px;
  border-radius: 10px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  line-height: 21px;
  font-size: 10px;
  font-weight: 500;
  color: #FFF;
  left: 50%;
  transform: translateX(-50%);
}

.text_box {
  color: rgb(31, 31, 31);
  padding: 22px 18px 25px 6px;
}

.goods {
  padding: 0px 8px 54px;
}

.link_profile {
  display: flex;
  align-items: center;
}
.link_profile .thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  display: none;
  background: url(https://www.kolonmall.com/_next/static/public/static/images/bt-left-arrow-2.4b080a8fad7384efe5cdc80316ff1bcd.png) 50% 50% no-repeat;
  left: 6px;
  top: 30%;
}

.swiper-button-next {
  display: none;
  background: url(https://www.kolonmall.com/_next/static/public/static/images/bt-right-arrow-2.2cd54fd32bc25a5ac8a2d2a59db99f91.png) 50% 50% no-repeat;
  right: 6px;
  top: 30%;
}

.banner_prev {
  display: none;
  background: url(https://www.kolonmall.com/_next/static/public/static/images/bt-left-arrow-1-black.5a9b25d839b7f905b527ce83d721b3b8.svg) 50% 50% no-repeat;
  left: 10px;
  top: 50%;
}

.banner_next {
  display: none;
  background: url(https://www.kolonmall.com/_next/static/public/static/images/bt-right-arrow-1-black.fadfeef5e0ad10c98ef39aff091efda1.svg) 50% 50% no-repeat;
  right: 10px;
  top: 50%;
}

.issue_prev {
  left: -34px;
}

.issue_next {
  right: -34px;
}

.swiper:hover .swiper-button-next, .swiper:hover .swiper-button-prev, .swiper:hover .issue_prev, .swiper:hover .issue_next {
  display: block;
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 1px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: auto;
  margin: 0px 8px;
}

.content {
  position: relative;
  display: flex;
}

.tab_box {
  display: flex;
  color: rgb(170, 170, 170);
}
.tab_box .btn_cate {
  display: inline-block;
  line-height: 18px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
.tab_box .btn_cate + .btn_cate {
  margin-left: 36px;
}
.tab_box .btn_cate.active {
  color: #1f1f1f;
}

.group_cont {
  display: none;
  position: relative;
  letter-spacing: -0.2px;
  padding: 0 6px;
  box-sizing: border-box;
}
.group_cont.active {
  display: block;
}

.sc_title {
  line-height: 34px;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 30px;
}

.text_box .title {
  position: relative;
  white-space: normal;
  overflow-wrap: break-word;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 27px;
  max-height: 27px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.text_box .desc {
  max-height: 40px;
  position: relative;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(137, 137, 137);
  text-align: left;
}

.profile_text .title {
  display: block;
  font-size: 13px;
  font-weight: 600;
  word-break: break-all;
}
.profile_text .desc {
  padding-top: 1px;
  line-height: 12px;
  font-size: 11px;
  font-weight: 300;
  color: rgb(170, 170, 170);
}

.info_box .brand {
  display: inline-block;
  margin: 0px 6px 12px;
  line-height: 9px;
  font-size: 9px;
  font-weight: 400;
  color: rgb(137, 137, 137);
}
.info_box .product_desc {
  margin: 0px 6px 4px;
  line-height: 14px;
  font-size: 11px;
  font-weight: 300;
  color: rgb(25, 69, 96);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info_box .sub_text {
  margin: 0px 6px 4px;
  line-height: 14px;
  font-size: 11px;
  font-weight: 300;
  color: rgb(25, 69, 96);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info_box .product_name {
  margin: 0px 6px 18px;
  word-break: break-all;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  max-height: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.info_box .price_box {
  line-height: 16px;
  font-size: 13px;
  font-weight: 300;
  margin: 0px 6px;
}
.info_box .price_box .ori {
  margin-left: 6px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 300;
  color: rgb(204, 204, 204);
}
.info_box .price_box .discount {
  margin-left: 15px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 300;
  color: rgb(255, 126, 0);
}
.info_box .label_box .label {
  display: inline-block;
  height: 20px;
  margin-top: 12px;
  padding: 0px 6px;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  font-weight: 300;
  color: rgb(25, 69, 96);
  box-sizing: border-box;
  background-color: rgb(245, 246, 249);
}
.info_box .label_box .label + .label {
  margin-left: 4px;
}

.event_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.event_text .event_title {
  display: block;
  line-height: 30px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 5px;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 2px;
}
.event_text .event_desc {
  display: block;
  line-height: 28px;
  font-size: 18px;
  font-weight: 200;
  height: 28px;
  margin-bottom: 27px;
}
.event_text .link_direct {
  text-align: center;
  border: 1px solid #333;
  width: 100px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  letter-spacing: 3.69px;
  display: inline-block;
}

.info_box.small .product_name {
  font-size: 12px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  max-height: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.info_box.small .curr {
  line-height: 16px;
  font-size: 13px;
  font-weight: 300;
  margin: 0px 6px;
}

.header {
  width: 100%;
  background: #fff;
}
.header .group-flex .inner {
  padding: 31px 48px 41px 48px;
}
.header .group-flex .inner .logo {
  float: left;
}
.header .group-flex .inner .serach_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  margin-top: -8px;
}
.header .group-flex .inner .serach_form fieldset {
  border: none;
}
.header .group-flex .inner .serach_form fieldset .search-input {
  width: 400px;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.header .group-flex .inner .serach_form fieldset .search-input::-moz-placeholder {
  color: #ccc;
}
.header .group-flex .inner .serach_form fieldset .search-input:-ms-input-placeholder {
  color: #ccc;
}
.header .group-flex .inner .serach_form fieldset .search-input::placeholder {
  color: #ccc;
}
.header .group-flex .inner .serach_form fieldset .serach_icon {
  display: inline-block;
  text-align: right;
  width: 21px;
  height: 18px;
  background: url("../images/search.png");
  background-repeat: no-repeat;
  background-size: 21px;
  margin-bottom: -5px;
}
.header .group-flex .inner .service_list {
  float: right;
  display: flex;
}
.header .group-flex .inner .service_list li {
  padding: 0 12px;
}
.header .group-flex .inner .service_list .link_magazine {
  background: url("../images/magazine.png") 0 50%;
  background-repeat: no-repeat;
  background-size: 24px;
  height: 18px;
  padding-left: 30px;
}
.header .group-flex .inner .service_list .link_live {
  background: url("../images/live.png") 0 50%;
  background-repeat: no-repeat;
  background-size: 23px;
  height: 18px;
  padding-left: 28px;
  position: relative;
}
.header .group-flex .inner .service_list .link_live::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: -12px;
  width: 1px;
  height: 12px;
  background: rgb(227, 227, 227);
}
.header .group-flex .inner .service_list .link_cart {
  background: url("https://assets.kolonmall.com/_ui/img/pc/icn/icn-cart-3-a973183682.svg") 50% 50%;
  background-repeat: no-repeat;
  background-size: 27px;
  width: 27px;
  height: 28px;
  margin-top: -9px;
}
.header .menu_area.hide {
  transform: translateY(-100%);
}
.header .menu_area.show {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  transform: translateY(0px);
  border-bottom: 1px solid rgb(238, 238, 238);
}
.header .menu_area .inner {
  display: flex;
  overflow: unset;
}
.header .menu_area .inner .menu_list {
  margin-right: 36px;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: top;
  padding: 20px 0;
}
.header .menu_area .inner .menu_list .category {
  display: inline-block;
  background: url("../images/category.png");
  background-repeat: no-repeat;
  background-size: 16px;
  height: 20px;
  margin-right: 6px;
  opacity: 0.7;
  padding-left: 22px;
  vertical-align: top;
}
.header .menu_area .inner .menu_list .brand {
  display: inline-block;
  background: url("../images/brand.png");
  background-repeat: no-repeat;
  background-size: 63px;
  width: 63px;
  height: 20px;
}
.header .menu_area .inner .nav {
  flex: 1 1 0%;
  padding: 16px 0px 15px;
  display: flex;
  justify-content: space-between;
}
.header .menu_area .inner .nav .nav_list {
  display: flex;
}
.header .menu_area .inner .nav .nav_list:first-child {
  flex: 1 1 0%;
  width: auto;
}
.header .menu_area .inner .nav .nav_list .list_item + .list_item {
  margin-left: 20px;
}
.header .menu_area .inner .nav .nav_list .list_item .link_nav {
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  font-weight: 300;
  color: rgb(137, 137, 137);
  letter-spacing: 1px;
  transition: color 0.2s ease 0s;
}
.header .menu_area .inner .nav .nav_list .list_item .link_nav:hover {
  color: rgb(31, 31, 31);
}
.header .category_box {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: #fff;
  color: #898989;
  width: 100%;
  padding-left: 48px;
  transition: all 0.2s ease 0s;
}
.header .category_box .category_title {
  font-size: 18px;
  line-height: 50px;
  height: 50px;
}
.header .category_box .category_title > .link_category {
  width: 200px;
  position: relative;
  z-index: 10;
}
.header .category_box .category_title > .link_category:hover {
  font-weight: bold;
  color: #1F1F1F;
}
.header .category_box .category_title > .link_category::after {
  content: "";
  background: url("../images/arrow.png") 0% 0%/10px 8px no-repeat;
  background-size: 10px;
  position: absolute;
  top: 50%;
  right: 100;
  transform: translateY(-50%);
  width: 10px;
  height: 8px;
}

.category_list {
  display: none;
  width: 100%;
  font-size: 15px;
}
.category_list.active {
  display: block;
}
.category_list .category_menu {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 600px;
  padding-left: 200px;
  background: #fff;
}
.category_list .menu_item {
  max-width: 200px;
  padding: 0 30px;
  border-left: 1px solid rgb(227, 227, 227);
}
.category_list .menu_title {
  color: #1F1F1F;
}
.category_list .category_item:hover {
  color: #1F1F1F;
}

.footer {
  margin-top: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 44px;
  text-align: left;
  box-sizing: border-box;
  background: rgb(245, 245, 245);
  font-weight: 300;
  color: rgb(137, 137, 137);
  font-size: 11px;
  line-height: 18px;
}
.footer a {
  display: inline-block;
}
.footer .column_left .info_list {
  margin: 20px 0;
}
.footer .column_left .link_checkjoin {
  border-bottom: 0.1em solid rgb(137, 137, 137);
}
.footer .column_left .footer_desc + .footer_desc {
  margin-bottom: 20px;
}
.footer .column_right {
  display: flex;
  width: 600px;
}
.footer .column_right b {
  color: #1f1f1f;
}
.footer .column_right .group_policy {
  margin-left: 60px;
}
.footer .column_right .group_contact {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}
.footer .column_right .group_contact .tel {
  font-size: 17px;
  margin-bottom: 10px;
}
.footer .column_right .group_contact ul {
  margin-top: 40px;
  word-break: break-all;
}
.footer .column_right .group_contact ul li + li {
  display: inline-block;
  position: relative;
}
.footer .column_right .group_contact ul li + li::after {
  content: "";
  margin: 0px 8px;
  display: inline-block;
  width: 1px;
  height: 8px;
  background: rgb(225, 225, 225);
}
.footer .column_right .group_contact ul li + li:nth-child(3)::after, .footer .column_right .group_contact ul li + li:nth-child(6)::after {
  display: none;
}
.footer .column_right .group_contact .familysite_list li:nth-child(3) {
  margin-right: 40%;
}
.footer .column_right .group_contact .sns_list {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
}
.footer .column_right .group_contact .sns_list .sns_item {
  position: relative;
}
.footer .column_right .group_contact .sns_list .sns_item::after {
  content: "";
  margin: 0px 8px;
  display: inline-block;
  width: 1px;
  height: 8px;
  background: rgb(225, 225, 225);
}
.footer .column_right .group_contact .sns_list .sns_item:last-child::after {
  display: none;
}

.container section + section {
  margin-top: 50px;
}

.sc_banner .banner_text {
  position: absolute;
  top: 0px;
  right: 50%;
  margin-left: 80px;
  width: 560px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: rgb(31, 31, 31);
}
.sc_banner .banner_text .badge {
  margin-bottom: 44px;
  font-size: 18px;
  font-weight: 400;
}
.sc_banner .banner_text .title {
  font-size: 65px;
  font-weight: 100;
  line-height: 74px;
  letter-spacing: -1px;
}
.sc_banner .banner_text .desc {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: -1px;
}
.sc_banner .swiper-button-prev {
  left: 48px;
}
.sc_banner .swiper-button-next {
  right: 48px;
}
.sc_banner .banner-pagination {
  font-weight: 300;
}
.sc_banner .banner-pagination .curr {
  font-weight: 600;
}

.sc_issue .content {
  overflow: visible;
}
.sc_issue .content .goods {
  position: relative;
}

.sc_new .content .group_cont {
  width: 100%;
}
.sc_new .content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sc_new .content ul li {
  width: calc((100% - 50px) / 6);
  box-sizing: border-box;
}

.sc_event {
  margin: 50px 0;
  position: relative;
}
.sc_event.event01 .link_event {
  width: 100%;
  color: #1f1f1f;
  text-align: center;
  background: url("../images/event01.jpg") 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
.sc_event.event02 .link_event {
  width: 100%;
  color: #FFF;
  text-align: center;
  background: url("../images/event02.jpg") 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
.sc_event.event02 .link_event .event_text {
  text-align: left;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}
.sc_event.event02 .link_event .event_text .link_direct {
  border: 1px solid #FFF;
}

.sc_plan .plan_area {
  display: flex;
  flex-wrap: wrap;
}
.sc_plan .plan_area .plan_box {
  width: calc(50% - 16px);
  display: flex;
}
.sc_plan .plan_area .plan_box:nth-child(n+3) {
  margin-top: 30px;
}
.sc_plan .plan_area .plan_box .link_plan {
  width: 48.6726%;
  display: inline-block;
  box-sizing: border-box;
}
.sc_plan .plan_area .plan_box .plan_cont {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 51.3274%;
  padding: 20px 36px 0;
  box-sizing: border-box;
}
.sc_plan .plan_area .plan_box .plan_cont .goods_profile {
  display: flex;
}
.sc_plan .plan_area .plan_box .plan_cont .group02 {
  width: 100%;
}
.sc_plan .plan_area .plan_box .plan_cont .group02 .goods {
  padding: 0px 8px 24px;
}

.sc_edit .edit_area {
  display: flex;
  flex-wrap: wrap;
}
.sc_edit .edit_area .edit_box {
  width: calc((100% - 48px) / 4);
}
.sc_edit .edit_area .edit_box + .edit_box {
  margin-left: 16px;
}
.sc_edit .edit_area .edit_box .edit_tab .tab {
  display: none;
}
.sc_edit .edit_area .edit_box .edit_tab .tab.active {
  display: block;
}
.sc_edit .edit_area .edit_box .edit_img {
  display: flex;
  padding: 20px 0;
  box-sizing: border-box;
}
.sc_edit .edit_area .edit_box .edit_img .link_edit {
  width: 58px;
  height: 58px;
}
.sc_edit .edit_area .edit_box .edit_img .link_edit.active {
  position: relative;
}
.sc_edit .edit_area .edit_box .edit_img .link_edit.active::after {
  content: "";
  width: 58px;
  height: 58px;
  display: block;
  border: 1px solid rgb(255, 126, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sc_edit .edit_area .edit_box .edit_img .link_edit + .link_edit {
  margin-left: 8px;
}
.sc_edit .edit_area .edit_box .text_box {
  margin-bottom: 25px;
}
.sc_edit .edit_area .edit_box .text_box .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  max-height: 80px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.sc_rookie .intro_area {
  display: flex;
  flex-wrap: wrap;
  background: rgb(242, 242, 242);
}
.sc_rookie .intro_area .rokkie_box {
  padding: 41px 45px;
  width: 312px;
  box-sizing: border-box;
}
.sc_rookie .intro_area .rokkie_box .title {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 27px;
  max-height: 54px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sc_rookie .intro_area .goods_area {
  width: calc(100% - 312px);
  padding-bottom: 70px;
}
.sc_rookie .intro_area .goods_area .goods {
  padding: 0px 8px;
}

.sc_chance .chance_box {
  width: calc((100% - 48px) / 4);
}
.sc_chance .chance_box + .chance_box {
  margin-left: 16px;
}
.sc_chance .chance_box .link_profile {
  margin-bottom: 40px;
}
.sc_chance .chance_box .group03 .goods {
  padding: 0px 2px 40px;
}